main{
    margin: 0;padding: 0 0 5em 0;
    background-color: aliceblue;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    overflow-x: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
main::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}



@media screen and (max-width: 600px) {
    main {
        flex-direction: column;

    }
}
