main{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    font-family: Arial, sans-serif;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    overflow-x: hidden;
}

main::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}

.main-index{
    overflow-x: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.main-index::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}